
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: itube-api
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - ./:/app

  db:
    image: postgres:16
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6380:6379"
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
    volumes:
      - redis_data:/data

volumes:
  db_data:
  redis_data:

